<!DOCTYPE html>
<html>
<head>
  <title>BookKeeper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>BookKeeper App</h1>

<%= link_to "Users", api_users_path() %>

</body>
</html>
